
body{
    background-image: url('https://designtemplate.tech/Dynamic%20Color%20Wave%20Background%20for%20Event%20Intro%20Videos.webp');
    background-repeat: no-repeat;

}

a{
    justify-content: center;
    align-items: center;
    margin: 20px 0px 0px 160px;
}